<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <title>JobSeekrs</title>
</head>
<body>
<main class="home-main">
    <section class="big-text">
        <h1 class="welcome-header">JobSeekrs</h1>
    </section>
    <section class="info">
        <h3>Track Your Applications</h3>
        <p>JobSeekrs provides a centralized platform to track all your job applications in one place. Keep a record of the positions you've applied to, the companies you've engaged with, and the status of each application. Stay on top of deadlines, interviews, and follow-ups effortlessly.</p>
    </section>
    <container class="login">
        <section class="colour-change">
            <a href="/auth/google" class="login-cube"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
            <a href="/auth/google"></a>
        </section>
    </container>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let colour1; 
        let colour2;
        let colour3;
        setInterval(function() {
            const cubes = Array.from(document.querySelectorAll('.colour-change > a'));
            const bigCube = document.querySelector('.colour-change');
            cubes.forEach(function(c) {
                colour1 = String(Math.floor(Math.random() * 156 + 100));
                colour2 = String(Math.floor(Math.random() * 101));
                colour3 = String(Math.floor(Math.random() * 156 + 100));
                console.log(colour1, colour2, colour3)
                c.style.backgroundColor = 'rgb(' + colour1 + ', ' + colour2 + ', ' + colour3 + ')';
            })
            // bigCube.style.boxShadow = '0 0 7vmin 0.4vmin rgb(' + colour1 + ', ' + colour2 + ', ' + colour3 + ')';
        }, 1000)
    })
</script>

<%- include('./partials/footer') %>