<%- include('./partials/header') %>

<h1 class="welcome-header">Job Seekrs</h1>
<main class="home-main">
    <container class="welcome">
        <section>
            <h2>Welcome to JobSeekrs</h2>
            <p>Take control of your job application process with JobSeekrs, the ultimate tool for managing your job applications. Whether you're actively searching for a new opportunity or keeping an eye on the market, JobSeekrs helps you stay organized, informed, and ahead of the competition. </p>
    </section>
    </container>
    <container class="valueprop">
        <section class="section1">
            <h3>Effortlessly Track Your Applications</h3>
            <p>Say goodbye to scattered spreadsheets and sticky notes. JobTrackr provides a centralized platform to track all your job applications in one place. Keep a record of the positions you've applied to, the companies you've engaged with, and the status of each application. Stay on top of deadlines, interviews, and follow-ups effortlessly.</p>
        </section>
        <section class="section2">
            <h3>Leave Notes and Stay Organized</h3>
            <p>Take advantage of our note-taking feature to jot down important details about each application. Keep track of interview dates, key contacts, or any other pertinent information. JobSeekrs helps you stay organized and ensures that you have all the essential information at your fingertips.</p>
        </section>
        <section class="section3">
            <h3>Discover Company Reviews</h3>
            <p>Make informed decisions by accessing company reviews shared by other users. JobSeekrs provides a valuable resource for understanding the work culture, interview experiences, and overall reputation of companies. Benefit from the collective knowledge of the JobSeekrs community to find the best fit for your career goals.</p>
        </section>
        <section class="section4">
            <p>Take the next step towards an organized and efficient job search. Sign up for JobSeekrs today and experience the convenience of tracking your job applications, leaving notes, and accessing company reviews all in one place. Start your journey with JobSeekrs - your trusted partner in job application tracking and career exploration.</p>
        </section>
    </container>
    <container class="login">
        <section>
            <div>x</div>
            <div></div>
            <div></div>
            <div></div>
            <div>x</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div>x</div>
            <div></div>
            <div></div>
            <div></div>
            <div>x</div>
        </section>
    </container>
</main>


<%- include('./partials/footer') %>