* {
  list-style-type: none;
}
a {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
body {
  background: linear-gradient(0deg, rgba(0,0,0,1) 80%, rgba(66,4,126,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  list-style-type: none;
}
.normal-header {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  height: 4.7vmin;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 3;
  border-bottom: .4vmin solid #B22ED2;
}

.normal-header > a {
  color: #07f49e;
  text-shadow: 0 0 .4vmin #07f49e;
}

/*! HOME PAGE SECTION !*/

.home-main {
  display: grid;
  background: linear-gradient(90deg, rgba(0,0,0,1) 60%, rgba(255,0,249,1) 100%);
  grid-template-columns: 1fr;
  grid-template-rows: 3fr repeat(2, 2fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  }
  
  .big-text { grid-area: 1 / 1 / 2 / 2; }
  .info { grid-area: 2 / 1 / 3 / 2; }
  .login { grid-area: 3 / 1 / 4 / 2; }


  .big-text {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0, 0);
    -webkit-text-stroke-width: 0.1vmin;
    -webkit-text-stroke-color:#A13AD1;
    display: flex;
    font-size: 15vmin;
    margin-left: 5vw;
    width: 90vw;
    user-select: none;
  }
  .welcome-header {
    height: 10vh;
    margin-top: 12vh;
  }
/*! ADD REFLECTION !*/
  .info {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 60vw;
    width: 30vw;
    height: 20vh;
    margin-top: -7vh;
    user-select: none;
  }

  .info > p {
    margin-left: 2vw;
    margin-top: -1vh;
  }
.login {

  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 40vw;
  height: 40vh;
  margin-left: 10vw;
  margin-top: -25vh;
  
}
.login > section {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
  overflow: auto;
  flex-direction: row;
  overflow: hidden;
}
.login > section > a {
  width: 10vmin;
  flex-grow: 1;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login > section > a:hover {
  animation: cubes 1.5s ease-in-out infinite;
}

@keyframes cubes {
  0% {
    transform: rotate(0deg);
  } 25% {
    transform: rotate(45deg);
  } 50% {
    transform: rotate(90deg);
  } 75% {
    transform: rotate(135deg);
  } 100% {
    transform: rotate(180deg);
  }
}

/*! DASHBOARD SECTION !*/

.dashboard-container {
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-rows: 1fr 4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #42047e;
  height: 90vh;
  width: 95vw;
  margin-top: 2.5vh;
  margin-left: 2.5vw;
  border-radius: 3vmin;
  }
  
  .appliction-containers { grid-area: 1 / 1 / 3 / 2; }
  .add-section { grid-area: 1 / 2 / 2 / 3; }
  .counter-section { grid-area: 2 / 2 / 3 / 3; }

  .dash-title {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vmin;
    height: 5vh;
    text-align: center;
    margin-top: 0.7vh;
    color: white;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
   
  }


.application-containers {
  margin-top: -12.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 82vh;
  overflow-y: scroll;
  position: relative;
  z-index: 0;
}

::-webkit-scrollbar {
  background: #42047e;
  width: 0.3vw;
}
::-webkit-scrollbar-thumb {
  background: #B22ED2;
  -webkit-border-radius: 1ex;
}

.application-atag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.add-section {
  display: flex;
  justify-content: center;
  justify-self: center;
  height: 10vh;
  width: 20vw;
  margin-top: 7vh;
}
.add-application {
  background-color: #42047e;
  display: flex;
  font-size: 4.5vmin;
  height: 10vh;
  width: 20vw;
  border-radius: 2vmin;
  justify-content: center;
  align-items: center;
  border: .22vmin solid #07f49e;
}

.add-application:hover {
  animation: fill 0.5s ease-in forwards;
}

@keyframes fill {
  0% {
      background-color: #42047e 
  } 10% {
      background: linear-gradient(0deg, #07f49e 10%, #42047e 20%, #42047e 30%, #42047e 40%, #42047e 50%, #42047e 60%, #42047e 70%, #42047e 80%, #42047e 90%, #42047e 100%);
  } 20% {
      background: linear-gradient(0deg, #07f49e 10%, #07f49e 20%, #42047e 30%, #42047e 40%, #42047e 50%, #42047e 60%, #42047e 70%, #42047e 80%, #42047e 90%, #42047e 100%);
  } 30% {
      background: linear-gradient(0deg, #07f49e 10%, #07f49e 20%, #07f49e 30%, #42047e 40%, #42047e 50%, #42047e 60%, #42047e 70%, #42047e 80%, #42047e 90%, #42047e 100%);
  } 40% {
      background: linear-gradient(0deg, #07f49e 10%, #07f49e 20%, #07f49e 30%, #07f49e 40%, #42047e 50%, #42047e 60%, #42047e 70%, #42047e 80%, #42047e 90%, #42047e 100%);
  } 50% {
      background: linear-gradient(0deg, #07f49e 10%, #07f49e 20%, #07f49e 30%, #07f49e 40%, #07f49e 50%, #42047e 60%, #42047e 70%, #42047e 80%, #42047e 90%, #42047e 100%);
  } 60% {
      background: linear-gradient(0deg, #07f49e 10%, #07f49e 20%, #07f49e 30%, #07f49e 40%, #07f49e 50%, #07f49e 60%, #42047e 70%, #42047e 80%, #42047e 90%, #42047e 100%);
  } 70% {
      background: linear-gradient(0deg, #07f49e 10%, #07f49e 20%, #07f49e 30%, #07f49e 40%, #07f49e 50%, #07f49e 60%, #07f49e 70%, #42047e 80%, #42047e 90%, #42047e 100%);
  } 80% {
      background: linear-gradient(0deg, #07f49e 10%, #07f49e 20%, #07f49e 30%, #07f49e 40%, #07f49e 50%, #07f49e 60%, #07f49e 70%, #07f49e 80%, #42047e 90%, #42047e 100%);
  } 90% {
      background: linear-gradient(0deg, #07f49e 10%, #07f49e 20%, #07f49e 30%, #07f49e 40%, #07f49e 50%, #07f49e 60%, #07f49e 70%, #07f49e 80%, #07f49e 90%, #42047e 100%);
  } 100% {
      background: linear-gradient(0deg, #07f49e 10%, #07f49e 20%, #07f49e 30%, #07f49e 40%, #07f49e 50%, #07f49e 60%, #07f49e 70%, #07f49e 80%, #07f49e 90%, #07f49e 100%);
  }
}

.counter-section {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
  margin-top: -2vh;
}

.single-counter {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #42047e;
  border: 0.35vmin solid #B22ED2;
  width: 20vw;
  height: 27vh;
  border-radius: 2vmin;;
}

.single-counter > h5 {
  font-size: 3vmin;
  margin-top: 3vh;
}

.single-counter > p {
  font-size: 5vmin;
}

.single-application {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 7vmin;
  width: 60vw;
  margin-left: 3vmin;
  margin-right: 3vmin;
  border-radius: 20px;
  background-color: #42047E;
  border: 0.4vmin solid #B22ED2;
  color: white;
  box-shadow: 0px 4px 4px rgb(61, 61, 61);
  position: relative;
  z-index: 3;
}

.single-application:hover {
  transform: scale(1.02);
  border: 0.5vmin solid purple;
}



li {
  text-decoration: none;
}

/* ! DETAILS SECTION !*/

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 5fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #42047E;
  width: 90vw;
  margin-left: 5vw;
  height: 50vh;
  margin-bottom: 3vh;
  margin-top: 4vh;
  border-radius: 2vmin;
  }
  
  .details-left { grid-area: 1 / 1 / 2 / 2; }
  .details-right { grid-area: 1 / 2 / 2 / 3; }
  .buttons { grid-area: 2 / 1 / 3 / 3; }

  .details-2 {
    margin-top: 3vmin;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }

  .details-left > div, .details-right > div {
    background-color: #42047E;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 30vmin;
    height: 6vmin;
    margin-top: 1vmin;
    margin-bottom: 2vmin;
    border-radius: 15px;
    border: 0.5vmin solid #B22ED2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details-left > div {
    margin-right: 18vw;
  }

  .details-left > label, .details-right > label {
    margin-left: 1vmin;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

  }

  .buttons {
    margin-top: 3.5vmin;
    margin-bottom: 2.5vmin;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .edit-application, .add-review {
    background-color: #42047E;
    color: white;
    font-size: 1.7vmin;
    width: 14vmin;
    height: 3.4vh;
    border-radius: 1vmin;
    border: 1px solid #07f49e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .delete-button {
    background-color: #42047E;
    color: red;
    font-size: 1.7vmin;
    width: 14vmin;
    height: 3.4vmin;
    border: 1px solid red;
    border-radius: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .delete-button:hover {
    box-shadow: 0 0 2vmin red;
  }

  .edit-application:hover, .add-review:hover {
    animation: fill 0.5s ease-in-out forwards;
  }

  .details-reviews-header {
    font-family: 'Roboto', sans-serif;
    background-color: #B22ED2;
    color: white;
    box-shadow: 0px 4px 4px black;
    height: 3.5vmin;
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
    border-radius: 2vmin 2vmin 0 0;
  }

  .details-reviews {
    background-color:#42047E;
    height: 36.5vh;
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: -2vmin;
    position: relative;
    z-index: 1;
  }

  .single-review-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 4vmin;
    margin-bottom: -3.5vmin;
    width: 100%;
  }
  .application-single-review {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 7vmin;
    width: 120vmin;
    margin-left: 3vmin;
    margin-right: 3vmin;
    border-radius: 20px;
    background-color: #42047E;
    border: 0.4vmin solid #07f49e;
    color: white;
    box-shadow: 0px 5px 4px rgb(0, 0, 0);
  }

/*! NEW/EDIT PAGES !*/

.form-container {
  margin-top: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

#application-form {
  background-color: #42047E;
  display: flex;
  flex-direction: column;
  width: 60vmin;
  height: 80vmin;
  justify-content: center;
  align-items: center;
  border-radius: 2vmin;
  box-shadow: 2px 5px 10px black;
}

#application-form > label {
  margin-bottom: 1vmin;
  font-family: 'Lato';
  color: white;
}

#application-form > select, #application-form > input[type=text], #application-form > input[type=date], #application-form > input[type=number], #application-form > textarea {
  font-family: 'Montserrat', sans-serif;
  background-color: #42047E;
  color: white;
  border: 0.4vmin solid #B22ED2;
  width: 30vmin;
  height: 3vmin;
  margin-bottom: 2vmin;
  border-radius: 1vmin;
  text-indent: 1vmin;
}

#application-form > textarea {
  max-width: 50vmin;
  max-height: 10vmin;
  padding-top: 1vmin;
}

.success-selection {
  height: 5vmin;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 13vmin;
  margin-top: 4.5vh;
  border-radius: 1vmin;
  width: 10vw;
  height: 4vh;
  background-color: #42047E;
  color: white;
  text-align: center;
  border: 0.4vmin solid #07f49e;
}

.submit-button:hover {
  animation: fill .5s ease-in-out forwards;
}

/* ! REVIEWS SECTION */

.reviews-backdrop {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color:#42047E;
  width: 95vw;
  margin-left: 2.5vw;
  height: 88vh;
  margin-top: 3vh;
  border-radius: 2vmin;
  }
  
  .btn-container { grid-area: 1 / 1 / 2 / 2; }
  .all-revs { grid-area: 2 / 1 / 3 / 3; }

.btn-container {
  display: flex;
  align-items: center;
  margin-top: -.5vh;
}

.review-page-header {
  margin-left: 40vw;
  text-align: center;
  font-size: 4vmin;
  color: white;
  font-family: 'Montserrat', sans-serif;
}


.search {
  width: 10vw;
  height: 3vh;
  margin-left: 9vw;
  border-radius: 2vmin;
  padding-left: 1vmin;
  background-color:#42047e;
  border: 0.4vmin solid #07f49e;
  color: white;
}

::placeholder {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.all-revs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-self: center;
  align-self: center;
  overflow-y: scroll;
  height: 75vh;
  width: 80vw;
  margin-top: -3vh;
}

.review-list {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  width: 70vw;
  margin-left: 3vmin;
  margin-right: 3vmin;
  border-radius: 20px;
  background-color:#42047E;
  color: white;
  border: 0.4vmin solid #B22ED2;
}



.stars {
  display: flex;
  font-size: 2vmin;
}

.total-reviews {
  color:#07f49e;
}



.stars > p {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: rgb(138, 135, 135);
}

.hiddenRating {
  display: none;
}

/* !  ADD REVIEW PAGE */

.review-form-container {
  width: 60vw;
  height: 70vh;
  background-color: #42047E;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20vw;
  border-radius: 4vmin;
}

#add-review-form {
  color: white;
  display: flex;
  flex-direction: column;
  width: 40vmin;
  justify-content: space-between;
  align-items:center;
}
.add-review-heading {
  margin-top: -5vh;
  font-size: 4vmin;
  font-family: 'Montserrat', sans-serif;

}
.review-textbox {
  width: 50vmin;
  max-width: 58vw;
  max-height: 30vh;
  margin-top: 5vh;
  height: 10vmin;
  padding: 2vmin;
  background-color: #42047E;
  color: white;
  border: 0.4vmin solid #B22ED2;
  border-radius: 2vmin;
}

.rating-heading {
  margin-top: 10vh;
  font-size: 2vmin;
  font-family: 'Montserrat', sans-serif;
}

.selection-review {
  width: 20vw;
  height: 3vh;
  text-align: center;
  background-color: #42047E;
  border: 0.4vmin solid #B22ED2;
  border-radius: 2vmin;
  color: white;
}

.sub-button {
  margin-top: 14vh;
}

/* ! REVIEWS/SHOW */

.show-reviews-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color:#42047E;
  width: 95vw;
  margin-left: 2.5vw;
  height: 88vh;
  margin-top: 3vh;
  border-radius: 2vmin;
  }
  
  .show-revs-section { grid-area: 1 / 1 / 2 / 2; }

.show-revs-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-self: center;
  align-self: center;
  overflow-y: scroll;
  height: 80vh;
  width: 83vw;
  margin-top: 0vh;
}

.single-review {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  width: 70vw;
  margin-left: 3vmin;
  margin-right: 3vmin;
  border-radius: 20px;
  background-color:#42047E;
  color: white;
  border: 0.4vmin solid #B22ED2;
}