* {
  list-style-type: none;
}
a {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
body {
  background-color: #d9d9d9;
  margin: 0;
  list-style-type: none;
}
.normal-header {
  display: flex;
  background-color: #C473E0;
  height: 4.7vmin;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  color: #ffffff;
  box-shadow: 0px 4px 4px gray;
  position: relative;
  z-index: 3;
}

/*! HOME PAGE SECTION !*/

.home-main {
  display: grid;
  background: linear-gradient(90deg, rgba(0,0,0,1) 60%, rgba(255,0,249,1) 100%);
  grid-template-columns: 1fr;
  grid-template-rows: 3fr repeat(2, 2fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  }
  
  .big-text { grid-area: 1 / 1 / 2 / 2; }
  .info { grid-area: 2 / 1 / 3 / 2; }
  .login { grid-area: 3 / 1 / 4 / 2; }


  .big-text {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0, 0);
    -webkit-text-stroke-width: 0.1vmin;
    -webkit-text-stroke-color:#A13AD1;
    display: flex;
    font-size: 15vmin;
    margin-left: 5vw;
    width: 90vw;
  }
  .welcome-header {
    height: 10vh;
    margin-top: 12vh;
  }

  .info {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 60vw;
    width: 30vw;
    height: 20vh;
    margin-top: -7vh;
  }

  .info > p {
    margin-left: 2vw;
    margin-top: -1vh;
  }
.login {

  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 40vw;
  height: 40vh;
  margin-left: 10vw;
  margin-top: -25vh;
}
.login > section {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
  overflow: auto;
  flex-direction: row;
}
.login > section > a {
  width: 10vmin;
  flex-grow: 1;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login > section > a:hover {
  animation: cubes 1.5s ease-in-out infinite;
}

@keyframes cubes {
  0% {
    transform: rotate(0deg);
  } 25% {
    transform: rotate(45deg);
  } 50% {
    transform: rotate(90deg);
  } 75% {
    transform: rotate(135deg);
  } 100% {
    transform: rotate(180deg);
  }
}

/*! DASHBOARD SECTION !*/

.dashboard-container {
  display: flex;
  flex-direction: row;
}

.application-atag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appliction-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background-color: #C473E0;
  width: 10vmin;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.add-application {
  background-color: blue;
  display: flex;
  width: 4vmin;
  height: 4vmin;
  font-size: 4.5vmin;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: .22vmin solid white;
}

.single-application {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 7vmin;
  width: 80vw;
  margin-left: 3vmin;
  margin-right: 3vmin;
  border-radius: 20px;
  background-color: white;
  color: #A13AD1;
  box-shadow: 0px 4px 4px rgb(61, 61, 61);
}

.single-application:hover {
  transform: scale(1.02);
  border: 0.5vmin solid purple;
}

.headings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 7vmin;
  width: 101.2%;
  /* margin-left: 3vmin;
  margin-right: 3vmin; */
  /* margin-top: 1vmin; */
  /* border-radius: 20px; */
  background-color: white;
  box-shadow: 0px 4px 4px rgb(61, 61, 61);
}

li {
  text-decoration: none;
}

/* ! DETAILS SECTION !*/

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .details-left { grid-area: 1 / 1 / 2 / 2; }
  .details-right { grid-area: 1 / 2 / 2 / 3; }

  .details {
    margin-top: 3vmin;
    display: flex;
    justify-content: center;
  }

  .details-left > div, .details-right > div {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    width: 30vmin;
    height: 6vmin;
    margin-top: 1vmin;
    margin-bottom: 2vmin;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details-left > div {
    margin-right: 30vmin;
  }

  .details-left > label, .details-right > label {
    margin-left: 1vmin;
    color: #A13AD1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

  }

  .buttons {
    margin-top: 3.5vmin;
    margin-bottom: 2.5vmin;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .edit-application, .add-review {
    background-color: #ffffff;
    color: #c647f2;
    font-size: 1.7vmin;
    width: 14vmin;
    height: 3vmin;
    border-radius: 2vmin;
    box-shadow: inset 0px 1px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .delete-button {
    background-color: white;
    color: #c647f2;
    font-size: 1.7vmin;
    width: 12vmin;
    height: 3vmin;
    border: 1px solid white;
    border-radius: 2vmin;
    box-shadow: 0px 3px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .edit-application:hover, .add-review:hover, .delete-button:hover {
    transform: scale3d(1.1);
    font-size: 1.5vmin;
    box-shadow: 0px 1px 2px black;
  }

  .details-reviews-header {
    font-family: 'Roboto', sans-serif;
    background-color: #B22ED2;
    color: white;
    box-shadow: 0px 4px 4px black;
    height: 3.5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
  }

  .details-reviews {
    background-color: #D77CF8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: -2vmin;
    position: relative;
    z-index: 1;
  }

  .single-review-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 4vmin;
    margin-bottom: -3.5vmin;
    width: 100%;
  }
  .application-single-review {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 7vmin;
    width: 120vmin;
    margin-left: 3vmin;
    margin-right: 3vmin;
    border-radius: 20px;
    background-color: white;
    color: #A13AD1;
    box-shadow: 0px 4px 4px rgb(61, 61, 61);
  }

/*! NEW/EDIT PAGES !*/

.form-container {
  margin-top: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

#application-form {
  background-color: grey;
  display: flex;
  flex-direction: column;
  width: 60vmin;
  height: 70vmin;
  justify-content: center;
  align-items: center;
  border-radius: 2vmin;
  box-shadow: 2px 5px 10px black;
}

#application-form > label {
  margin-bottom: 1vmin;
  font-family: 'Lato';
  color: white;
}

#application-form > select, #application-form > input, #application-form > textarea {
  width: 30vmin;
  height: 3vmin;
  margin-bottom: 2vmin;
  border-radius: 1vmin;
  border: none;
  box-shadow: 0px 4px 4px rgb(49, 49, 49);
  text-indent: 1vmin;
}

#application-form > textarea {
  max-width: 50vmin;
  max-height: 10vmin;
  padding-top: 1vmin;
}

.success-selection {
  height: 5vmin;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 13vmin;
  border-radius: 3vmin;
  margin-top: 2vmin;
  background-color: blue;
  color: white;
  border: none;
  text-align: center;
}

/* ! REVIEWS SECTION */

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2vmin;
}

.search {
  width: 15vmin;
  height: 2.5vmin;
  border-radius: 2vmin;
  padding-left: 1vmin;
}



.review-list {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 7vmin;
  margin-left: 3vmin;
  margin-right: 3vmin;
  border-radius: 20px;
  background-color: white;
  color: #A13AD1;
  box-shadow: 0px 4px 4px rgb(61, 61, 61);
}



.stars {
  display: flex;
}

.total-reviews {
  color: blue;
}



.stars > p {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: rgb(138, 135, 135);
}

.hiddenRating {
  display: none;
}

/* !  ADD REVIEW PAGE */

.review-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-review-form {
  display: flex;
  flex-direction: column;
  width: 40vmin;
  justify-content: center;
  align-items: center;
}

.review-textbox {
  width: 50vmin;
  height: 10vmin;
}

/* ! REVIEWS/SHOW */

.single-review {
  position: relative;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 7vmin;
  margin-left: 3vmin;
  margin-right: 3vmin;
  border-radius: 20px;
  background-color: white;
  color: #A13AD1;
  box-shadow: 0px 4px 4px rgb(61, 61, 61);
}